In [1]:
# Importação das bibliotecas para analise de dados

import pandas as pd                                                # Analise e tratamento de dados
import numpy as np                                                 # Tratamento de dados numéricos
import random                                                      # Gerador de números aleatórios
import matplotlib.pyplot as plt                                    # Plotagem de gráficos
import seaborn as sns                                              # Plotagem de gráficos
from sklearn.model_selection import train_test_split               # Divisão de conjuntos de dados de treino e teste
from sklearn.naive_bayes import GaussianNB                         # Algoritmo Naive Bayes
from sklearn.metrics import confusion_matrix, accuracy_score       # Matriz de confusão e métricas de precisão e acurácia
from imblearn.under_sampling import TomekLinks                     # Subamostragem aleatória (undersampling)

In [2]:
# Etapas :
#        1. carregamento da base de dados
#        2. base de treinamento
#        3. classificação com naive bayes

In [3]:
# Carregamento da base de dados em uma variável

dados = pd.read_csv('../data/credit_data.csv')
# 'credit_data.csv' é um arquivo com alguns dados que possui informações sobre empréstimos (se o cliente pagará ou não pagará o empréstimo)

In [4]:
# inforamções da base de dados

dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   i#clientid  2000 non-null   int64
 1   income      2000 non-null   float64
 2   age         1997 non-null   float64
 3   loan        2000 non-null   float64
 4   c#default   2000 non-null   int64
dtypes: float64(3), int64(2)
memory usage: 78.2 KB

In [5]:
# visualização dos primeiros registros

dados.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

In [6]:
# descrição das variáveis dos dados

dados.describe()

        i#clientid        income          age          loan    c#default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

In [7]:
# visualização dos dados faltantes

dados.isnull().sum()

i#clientid    0
income        0
age           3
loan          0
c#default     0
dtype: int64

In [8]:
# visualização das classes da variável 'c#default' em percentual

dados['c#default'].value_counts('1')

0    0.8585
1    0.1415
Name: c#default, dtype: float64